<!-- header -->
<nav class="navbar bg-body-tertiary fixed-top shadow-sm ">
    <div class="container-fluid">
        <img src="assets/images/logo.png" alt=""  class="logo">
        <button class="navbar-toggler btn-toggle text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Sen Article</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                
            </div>
        </div>
    </div>
</nav>
<br>
<!-- titre -->
<h1 class="text-center mt-5 text-dark py-5 ">📝Liste des articles</h1>
<!-- card bootstrap -->
<div class="container mt-5">
    <div class="d-flex justify-content-between mb-5" style="height: 40px;">
        <div class="col-md-6">
            <!-- boutton ajouter et corbeille -->
            <button type="button" class="btn text-white mb-5 fw-bold btn-article"  data-bs-toggle="modal" data-bs-target="#modalAjoutArticle">Ajouter</button>
            <button type="button" class="btn ms-3 mb-5 text-white fw-bold btn-corbeille">Corbeille</button>
        </div>
        <div class="input-group">
            <input type="text" name="filterValue" class="form-control">
            <button class="input-group-text notactive"><i class="bi bi-search"></i></button>
        </div>
    </div>
    <div class="row row-gap-4">
        <div class="col-md-4 col-12 " *ngFor="let article of articles">
            <div class="card shadow-sm" style="max-height: 450px; min-height: 450px;">
                <img src="https://img.freepik.com/photos-gratuite/belle-jeune-femme-se-promene-dans-paris-concept-photo-voyage-heureuse_1321-3494.jpg"
                    alt="Description de l'image" class="img-article">
                <h6 class="card-title text-center fw-bold">{{article.title}}</h6>
                <div class="card-body">
                    <p class="card-text">{{article.body}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">

                            <button type="button" class="btn btn-sm btn-outline-info" id="{{article.id}}" (click)="getIdArticles(article.id)">Détail</button>
                            <button type="button" class="btn btn-sm btn-outline-info">Modifier</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" tabindex="-1"  id="modalAjoutArticle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter un article</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-4">
                        <label for="inputImage" class="form-label fw-bold">Image</label>
                        <input type="text" name="imageUrl" class="form-control" id="inputImage" placeholder="Entrez l'url d'une image" [(ngModel)]="imageUrl">
                    </div>
                    <div class="mb-4">
                        <label for="inputTitre" class="form-label fw-bold">Titre</label>
                        <input type="text" name="titre" class="form-control" id="inputTitre" placeholder="Entrez le titre" [(ngModel)]="titre">
                    </div>
                    <div class="mb-4">
                        <label for="inputDescription" class="form-label fw-bold">Description</label>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="description" name="description" id="description" [(ngModel)]="description"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-corbeille  text-white" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-article text-white" (click)="ajouterArticle()">Ajouter</button>
            </div>
        </div>
    </div>
</div>
<footer class="footer mt-auto py-3 mt-5">
    <div class="container text-center">
        <span class="text-light">Copyrights © 2023 powered by G-10. All Rights Reserved.</span>
    </div>
</footer>